name: Test Go components

on:
  push:
    paths:
      - 'comps/go/**'
      - '.github/workflows/test_comps_go.yaml'
      - '!**.md' # exclude .md files

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: rodrigorodriguescosta/branch-name@v2

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.21'

      - name: Run Go tests
        run: |
          cd comps/go && go test -v -coverprofile=coverage.out ./...